@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
	border-radius: 0 !important;
}
.junkerBody{

}
.raptorBack{
	background-image: url('../img/RaptorSketch.gif');
}
.pageFooter{
	margin-top: 5em;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: #222222;
	color: white;
	a{
		color: white;
		text-decoration: none;
	}
	li{
		list-style-type: square;
	}
}
.panelRelated{
	margin-top: 1em;
}
.bodyOverlay{
	background-color:rgba(255,255,255,0.6);
	height: auto;
}
.descP{
	margin-top: 0;
}
.descLead{
	margin-bottom: 0;
}
a{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}
.navLinkOverride{
	text-decoration: none;
}
a:hover{
	color: grey;
}
.frontList{
	margin-top: 2em;
}